*{
    margin: 0%;
    padding: 0%;
    /* font-family: Arial, Helvetica, sans-serif; */
}

body{
    background-color: rgb(32, 32, 32);
}

header{
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
}

header h1{
    padding: 10px;

}

#icon{
    margin: 11px 5px;
    display: block;
    padding: 5px;
    font-size: 28px;
}

#icon:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

nav{
    display: none;
    background-color: rgba(255, 255, 255, 0.452);
    
}

nav ul{
    list-style: none;
    text-align: center;

}

nav li{
    

}

nav a{
    border-top: 1px solid black;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.63);
    color: black;
    transition: 1s;
    
}

main{

}

section{

}
