body{
    
    background-color: #D9BFA9;
}

header{
    /* background-color: #594438; */
    background-color: black;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.menu-logo img{
    width: 9vw;
    padding: 10px 10px 0px 30px ;
    
}

.menu-botoes ul{
    display: flex;
    list-style: none;
    padding-right: 20px;
}

.menu-botoes li a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

.menu-botoes a:hover{
    color: black;
    background-color: white;
    transition: 1s;
}


.programador{
max-width: 1200x;
margin: 20px auto;


}

.programador-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}



.imagem-programador img{
    width:37vw ;
    padding: 0 0 0 10%;
    
}

.text-programador{
    padding: 0 10px 0 0 ;
    
}
.text-programador h1{
    font-size: 3vw;
    padding:  0 10px;
}


.text-programador h2{
    font-size: 2vw;
    padding: 0 10px;

}
.text-programador h3{
    font-size: 1.7vw;
    padding:  0 10px;
}




.perfil{
    max-width: 900px;
    margin: 54px auto;
    border-radius: 10px;
    background-color: #F2EEE9;
}

.perfil-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.perfil-container img{
    width: 25vw;
    
}

.text-container{
    flex-grow: 1;
    padding: 5px;
}

.text-container h1{
    font-size: 2.1vw;
    padding: 2px;
}

.text-container h2{
    font-size: 2.3vw;
    padding: 2px;
}
.text-container p{
    font-size: 1.6vw;
    
}

.linguagens{
    background-color: #F2EEE9;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
}

.logo-linguagens{
    width: 100%;
    display: flex;
    justify-content: center;
}

.linguagens a img{
    
    width: 100px;

}
