*{
    margin: 0%;
    padding: 0%;

    font-family: Arial, Helvetica, sans-serif;
}

:root{

    /* 
    #021024

    #052659

    #5483B3

    #7DA0CA

    #C1E8FF 
    */

    
    --color-hearder: #021024;

    --color-body-fundo: #5483B3;

    --color-main-fundo:#C1E8FF;

}

body{
    background-color:var(--color-body-fundo);
}

header{
    background-color: var(--color-hearder);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header h1{
    padding: 10px;

}

#icon{
    margin: 11px 5px;
    display: block;
    padding: 5px;
    font-size: 28px;
}

#icon:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

nav{
    display: none;
    background-color: rgba(255, 255, 255, 0.452);
    
}

nav ul{
    list-style: none;
    text-align: center;

}

nav li{
    

}

nav a{
    border-top: 1px solid black;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.63);
    color: black;
    transition: 1s;
    
}



.home{
    justify-content: space-between;
    display: block;
    margin: 50px auto;
    width: 320px;
    
}

.home-img img{
    display: block;
    margin: auto;
    width: 287px;
}

.home-text h1, h2, h3{
    text-align: center;
    color: white;
    
}

.home-text h1{
    font-size: 25px;
    text-align: center;
    padding: 10px;
     
}


.home-text h3{
   font-size: 23px;
   padding: 10px;
}

.perfil{
    background-color: var(--color-main-fundo);
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
    align-items: center;
    
}

.perfil-texto{
    padding: 10px;

}

.perfil-texto h1{
    margin: 10px 0;
    text-align: center;
    font-size: 4vw;

}
.perfil-texto p{
    font-size: 3vw;

}

.perfil-imagem img{
    padding: 10px 10px 5px 10px;
    width: 40vw;
}

.linguagens{
    background-color:var(--color-main-fundo);
    display: flex;
    height: 200px;
    margin: 50px auto;
    

}

#tela{
    width: 212px;
    height: 200px;
    
}

.linguagens-img{
    text-align: center;
   
}

.linguagens-img a img{
    
    width: 60px;
}

.projetos{
    background-color: var(--color-main-fundo);
    margin: 50px auto;
    display: flex;
    justify-content: center;

}

.projetos p{
    text-align: center;
    
}

.div1 , .div2 , .div3{
    margin: 10px;
    width: 100px;
    height: 50px
   
}

.div1{
    background-color: red;
}
.div2{
    background-color: rgb(99, 97, 97);

}

.div3{
    background-color: aqua;

}

