

@media screen and (min-width:375px) and ( max-width:1020px) {

    .home-img img{
        width: 330px;

    }

    .perfil{
        margin: 25px auto;
    }

    .perfil-texto h1{
        margin: 10px 0;
        text-align: left;
        font-size: 16px;

    }

    .perfil-texto p{
        font-size:12px;

    }
    .perfil-imagem img{
        width: 200px;
    }

}

@media screen and (max-width:1020px) {

    nav a{
        font-size: 13px;
    }

    nav a:hover{
        font-size: 19px;
    }
    
}

@media screen and (min-width: 1020px) {

    header{

    }
    header h1{
        display: block;
        margin: auto;
        padding: 15px;

    }

    #icon{
        display: none;

    }

    nav{
        display: block;
        width:400px;
        margin:15px auto;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.856)
        
    }

    nav ul{
        /* text-align: left; */

    }

    nav li{
        display: inline-block;
        margin: 0 5px;
        
    }

    nav a{
        border-top:none ;
        
    }

    nav a:hover{
        background-color: black;
        color: white;
        
    }

    main{

    }

    .home{
        display: flex;
        width: 1000px;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .home-img img{
        width: 488px;

    }

    .perfil{
        width: 800px;
        margin: 50px auto;
    }

    .perfil-texto h1{
        margin: 10px 0;
        font-size: 25px;
        text-align: left;
    }
    .perfil-texto p{
        font-size: 18px;

    }

    .perfil-imagem img{
        width: 300px;
    }

    
}